<footer>
    <div class="container">
        <h2>▼ More about us ▼</h2>
        <div>
            <h3>News</h3>
            <div class="content">
                <li><a href="">Where do we help?</a></li>
                <li><a href="">How to learn more</a></li>
                <li><a href="">Employee</a></li>
                <li><a href="">Reports</a></li>
            </div>
        </div>
        <div>
            <h3>Resorces</h3>
            <div class="content">
                <li><a href="">Contact us</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">Shipments</a></li>
                <li><a href="">Address</a></li>
            </div>
        </div>
        <div>
            <h3>Social Media</h3>
            <div class="content">
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Youtube</a></li>
                <li><a href="">Twitch</a></li>
            </div>
        </div>
        <div>
            <h3>Who are we?</h3>
            <div class="content">
                <li><a href="">Who are we?</a></li>
                <li><a href="">Our history</a></li>
                <li><a href="">Our goals</a></li>

            </div>
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <h2>Contact us</h2>
            <div class="social">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitch"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
        <p>&#169;. 2024 Company, Inc</p>
    </div>
</footer>