<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace= "/fragments/head :: head"></head>


<body>
    <header th:replace= "/fragments/navbar :: header"></header>

    <div class="container">
        <form th:action="@{/autor/modify/__${autor.ID}__}" method="POST">
            <h1>Edit autor</h1>
            <input hidden th:value="${ID}" name="ID">
            <div class="form-group">
                <label>Modify name</label>
                <!-- en este input deberia usar th:value="${autor.name}" pero sin eso, funciona a la perfeccion-->
                <input class="form-group" type="text" name="name">
            </div>
            <button class="btn" type="submit">Update</button>
        </form>
    </div>
    <footer th:replace= "/fragments/footer :: footer"></footer>
    <script src="/script/script.js"></script>

</body>

</html>