<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form th:action="@{/autor/modificar/__${autor.ID}__}" method="post">

            <input type="text" th:value="${ID}" name="ID">
            <div>
                <label for="">Modity autor</label>
                <input th:value="${autor.name}" type="text" name="name">
            </div>
            <button type="submit">update</button>
        </form>
    </div>
</body>

</html>