<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="/autor/registro" method="POST">
            <h1>Charge autor here</h1>
            <div class="form-group">
                <input type="text" class="form-group" name="name" placeholder="autor name">
            </div>

            <div>
                <div th:if="${Error!=null}">
                    <h5>Error</h5>
                    <p th:text="${Error}"></p>
                </div>
            </div>

            <div>
                <div th:if="${Success!=null}">
                    <h5>Success</h5>
                    <p th:text="${Success}"></p>
                </div>
            </div>

            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>

</html>