<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace= "/fragments/head :: head"></head>


<body>
    <header th:replace= "/fragments/navbar :: header"></header>

    <div>
        <form th:action="@{/editorial/modify/__${editorial.ID}__}" method="POST">
            <input hidden th:value="${ID}" name="ID">
            <div>
                <label>Modify Editorial</label>
                <input th:value="${editorial}" type="text" name="name">
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
    <footer th:replace= "/fragments/footer :: footer"></footer>
    <script src="/script/script.js"></script>

</body>

</html>