<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace= "/fragments/head :: head"></head>

<body>
    
    <header th:replace= "/fragments/navbar :: header"></header>

    <div id="main-menu">
       
        <main>
            <div class="container">
                <h1 th:text="'Error '+${codigo}"></h1>
                <h3><a th:text="${mensaje}"></a></h3>
                <div>
                    <button><a th:href="@{/book/list}">Book list</a></button>
                </div>

                <div>
                    <button class="button"><a href="/login">Log in</a></button>
                </div>
            </div>
        </main>
    </div>

    <footer th:replace= "/fragments/footer :: footer"></footer>

    <script src="/script/script.js"></script>
</body>

</html>