<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace= "/fragments/head :: head"></head>

<body>
    
    <header th:replace= "/fragments/navbar :: header"></header>

    <div id="main-menu">
        <div class="container">
            <div class="error-success">
                <div>
                    <div class="error" th:if="${Error!=null}">
                        <h1>Error</h1>
                        <p th:text="${Error}"></p>
                    </div>
                </div>

                <div>
                    <div class="success" th:if="${Success!=null}">
                        <h1>Success</h1>
                        <p th:text="${Success}"></p>
                    </div>
                </div>
            </div>
        </div>
        <main>
            <div class="container">
                
                <h1>BIBLIOTECA</h1>
                <h3><a href=""></a>Find all books here</h3>
                <div>
                    <button><a th:href="@{/book/list}">Book list</a></button>
                </div>

                <div>
                    <button class="button"><a href="/login">Log in</a></button>
                </div>
            </div>
        </main>
    </div>

    <footer th:replace= "/fragments/footer :: footer"></footer>

    <script src="/script/script.js"></script>
</body>

</html>