<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/css.css">
</head>

<body>

    <nav>
        <ul>
            <li>
                <a href="#">hola</a>
                <ul class="dropdown">
                    <li><a href="#">hi</a></li>
                    <li><a href="#">hi</a></li>
                    <li><a href="#">hi</a></li>
                </ul>
            </li>
            <li>
                <a href="#">hola</a>
                <ul class="dropdown">
                    <li><a href="#">hi</a></li>
                    <li><a href="#">hi</a></li>
                    <li><a href="#">hi</a></li>
                </ul>
            </li>
            <li>
                <a href="#">hola</a>
                <ul class="dropdown">
                    <li><a href="#">hi</a></li>
                    <li><a href="#">hi</a></li>
                    <li><a href="#">hi</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</body>

</html>