<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"></head>


<body>
    <header th:replace="/fragments/navbar :: header"></header>
    <div id="forms">
        <div class="container">
            <div class="error-success">
                <div>
                    <div class="error" th:if="${Error!=null}">
                        <h1>Error</h1>
                        <p th:text="${Error}"></p>
                    </div>
                </div>

                <div>
                    <div class="success" th:if="${Success!=null}">
                        <h1>Success</h1>
                        <p th:text="${Success}"></p>
                    </div>
                </div>
            </div>
        </div>
        <form th:action="@{/signedin}" method="post" enctype="multipart/form-data">
            <div>
                <h3 class="title">Sign in!</h3>
            </div>
            <div class="input-class">
                <input class="input-content" type="text" name="name" placeholder="name" th:value="${name}">
            </div>
            <div class="input-class">
                <input class="input-content" type="text" name="email" placeholder="email" th:value="${email}">
            </div>

            <div class="input-class">
                <input class="input-file" id="upload" type="file" name="archive">
                <label for="upload">Upload file...</label>
            </div>

            <div class="input-class">
                <input class="input-content" type="password" name="password" placeholder="password"
                    th:value="${password}">
            </div>
            <div class="input-class">
                <input class="input-content" type="password" name="password2" placeholder="repeat password"
                    th:value="${password2}">
            </div>
            <button class="button-form" type="submit">Submit</button>
            <a th:href="@{/}">Back to index</a>
        </form>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script src="/script/script.js"></script>

</body>

</html>